{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/indexstyle.css' %}">

    
    <title>Search</title>
</head>

<body style="background:#efefef">
  
 

   <div class="bg-color">    

<nav class="navbar">
   <a href="index.html"> <img src="{% static "images/caricom-logo.jpg" %}" alt="My image"></a>
    <h1 style="color: white">CARICOM Intern Database</h1>

       <a href="Login.html" class="btn btn-info btn-lg navbar-right" >
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>

</nav>
   
    <div class="container">


	<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <form action="/database/search" method="POST">
                        {% csrf_token %}
                        <input type="text" class="form-control"  placeholder="Search" name="search_item">
                        <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                    </form>
                </div>
            </div>
        </div>
	</div>
    <div class="btn-group">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Database
            </button>
            <ul class="dropdown-menu">
    
              <li class="active"><a href="C:\Users\sachw\Desktop\Projects\InternDB\index.html">Intern Database</a></li>
              <li><a href="{% url 'homex' %}">X-Employee Database</a></li>
             
            </ul>
          </div>
         
        </div>
    
    <div class="create-btn">
          
              
            
       
        <a href ="{% url 'new' %}">	&nbsp; <button type="button" class="btn btn-success btn-rounded">Create record</button></a>
     
      </div>
      
    

<br>
<br>
{{ search }}
<div class="col-lg-12 grid-margin stretch-card">
    
        <div class="table-responsive">
          
          <table class="table table-bordered table-hover " style="background-color: #ffffff">
              <thead class="thead">
                    
                  <tr>
                    <th style="width: 100px" >InternID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Nationality</th>
                    <th style="width: 100px">View / Edit</th>
                    <th style="width: 100px">Delete</th>
                  </tr>
                  
                </thead>
                <tbody>
                  {% for person in Personal_Information %} 
                  <tr>
                    <td><a href="{% url 'view' key=person.InternID %}">{{ person.InternID }}</a></td>
                    <td><a href="{% url 'view' key=person.InternID %}">{{ person.First_Name }}</a></td>
                    <td><a href="{% url 'view' key=person.InternID %}">{{ person.Last_Name }}</a></td>
                    <td><a href="{% url 'view' key=person.InternID %}">{{ person.Date_of_Birth }}</a></td>
                    <td><a href="{% url 'view' key=person.InternID %}">{{ person.Nationality }}</a></td>
                    <td><a href="{% url 'edit_record' key=person.InternID %}"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></a><p></p></td>
                    <td><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#myModal" ><span class="glyphicon glyphicon-trash"> </span></button></td>
                  </tr>
                  {% endfor %}
                
                </tbody>

          </table>

          </div>
                                  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
        </div>
      

    </div>
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					
				</div>				
				<h4 class="modal-title">Are you sure?</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
           
            <form >
                    {% csrf_token %}  
			<div class="modal-footer">
                    
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button> 
                <button type="submit" class="btn btn-danger">Delete</button>
                
                
            </div>
            </form>
		</div>
	</div>
</div> 
       
<div id="switchModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					
				</div>				
				<h4 class="modal-title">Do you want to use another database?</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Please select your database</p>
			</div>
			<div class="modal-footer">
			<a href="C:\Users\sachw\Desktop\Projects\HrmXDB\index.html"><button type="button" class="btn btn-info">X-Employee Database</button></a>
                <a href="C:\Users\sachw\Desktop\Projects\InternDB\index.html"><button type="button" class="btn btn-info">Intern Database</button></a>
			</div>
		</div>
	</div>
</div>        
       
</div> 


</body>

</html>